<!DOCTYPE html>
{% extends 'testApp/base.html'%}
{%block title_block%}Home{%endblock%}
{%block body_block%}
{% if tag %}
<h2>Post tagged with "{{tag.name}}"</h2>
{% endif %}
{% for post in post_list%}
<h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
<p id='date'>Publish on {{post.publish}} by {{post.author|title}}</p>
<p>Tags:
  {% for tag in post.tags.all %}
    <a href="{%url "post_list_by_tag_name" tag.slug %}" class="tagbox">{{tag.name}}</a>
  {% endfor %}
       </p>
<p id='pa'>{{post.body|truncatewords:30|linebreaks}}</p>
<p id='read'><a href="{{post.get_absolute_url}}">Read More <i class="fas fa-forward"></i></i></a></p>
{%endfor%}
{% include 'testApp/pagination.html' with page=post_list%}
{%endblock%}
